{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!-- Row -->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default border-panel card-view pa-0">
			<div class="panel-wrapper collapse in">
				<div class="panel-body pa-0">
					<div class="chat-cmplt-wrap chat-for-widgets-1">
						<div class="chat-box-wrap">
							<div>
								<form role="search" class="chat-search">
									<div class="input-group">
										<input id="example-input1-group21" name="example-input1-group2" class="form-control" placeholder="Search" type="text">
										<span class="input-group-btn">
										<button type="button" class="btn  btn-default"><i class="zmdi zmdi-search"></i></button>
										</span>
									</div>
								</form>
								<div class="chatapp-nicescroll-bar">
									<ul class="chat-list-wrap">
										<li class="chat-list">
											<div class="chat-body" id="chat-body">
												{% for sms in smss %}
												<a  href="javascript:void(0)">
													<div class="chat-data">
														<img class="user-img img-circle"  src='{% static "/dist/img/user.png" %}' alt="user"/>
														<div class="user-data">
															<span class="name block capitalize-font">{{sms.sms_receiver}}</span>
															<span class="time block truncate txt-grey">{{sms.sms_message}}No one saves us but ourselves.</span>
														</div>
														<div class="status away"></div>
														<div class="clearfix"></div>
													</div>
												</a>
												{% endfor %}
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="recent-chat-box-wrap">
							<div class="recent-chat-wrap">
								<div class="panel-heading ma-0 pt-15">
									<div class="goto-back">
										<a  id="goto_back_widget_1" href="javascript:void(0)" class="inline-block txt-grey">
											<i class="zmdi zmdi-account-add"></i>
										</a>	
										<span class="inline-block txt-dark">Ezequiel</span>
										<a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-more"></i></a>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body pa-0">
										<div class="chat-content">
											<ul class="chatapp-chat-nicescroll-bar pt-20">
												<li class="friend">
													<div class="friend-msg-wrap">
														<img class="user-img img-circle block pull-left"  src='{% static "/dist/img/user.png" %}' alt="user"/>
														<div class="msg pull-left">
															<p>Hello Jason, how are you, it's been a long time since we last met? {{smss}}</p>
															<div class="msg-per-detail text-right">
																<span class="msg-time txt-grey">2:30 PM</span>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>	
												</li>
												<li class="self mb-10">
													<div class="self-msg-wrap">
														<div class="msg block pull-right"> Oh, hi Sarah I'm have got a new job now and is going great.
															<div class="msg-per-detail text-right">
																<span class="msg-time txt-grey">2:31 pm</span>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>	
												</li>
												<li class="self">
													<div class="self-msg-wrap">
														<div class="msg block pull-right">  How about you?
															<div class="msg-per-detail text-right">
																<span class="msg-time txt-grey">2:31 pm</span>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>	
												</li>
												<li class="friend">
													<div class="friend-msg-wrap">
														<img class="user-img img-circle block pull-left"  src='{% static "/dist/img/user.png" %}' alt="user"/>
														<div class="msg pull-left"> 
															<p>Not too bad.</p>
															<div class="msg-per-detail  text-right">
																<span class="msg-time txt-grey">2:35 pm</span>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>	
												</li>
											</ul>
										</div>
										<div class="input-group">
											<input type="text" id="input_msg_send_chatapp" name="send-msg" class="input-msg-send form-control" placeholder="Type something">
											{% csrf_token %}
											<div class="input-group-btn emojis">
												<div class="dropup">
													<button type="button" class="btn  btn-default  dropdown-toggle" data-toggle="dropdown" ><i class="zmdi zmdi-mood"></i></button>
													<ul class="dropdown-menu dropdown-menu-right">
														<li><a href="javascript:void(0)">Action</a></li>
														<li><a href="javascript:void(0)">Another action</a></li>
														<li class="divider"></li>
														<li><a href="javascript:void(0)">Separated link</a></li>
													</ul>
												</div>
											</div>
											<div class="input-group-btn attachment">
												<div class="fileupload btn  btn-default"><i class="zmdi zmdi-attachment-alt"></i>
													<input type="file" class="upload">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Row -->

{%endblock content %}
{% block scripts %}

<script>
	let socket = new WebSocket("ws://localhost:8000/main/ws/");

	socket.onopen = function(e) {
	alert("[open] Connection established");
	alert("Sending to server");
	socket.send({"sender":1,"receiver":2,"message":"My name is John"});
	};

	socket.onmessage = function(event) {
		alert(`[message] Data received from server: ${event.data}`);
	};

	socket.onclose = function(event) {
	if (event.wasClean) {
		alert(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
	} else {
		// e.g. server process killed or network down
		// event.code is usually 1006 in this case
		alert('[close] Connection died');
	}
	};

	socket.onerror = function(error) {
	alert(`[error] ${error.message}`);
	};

	$('#chat-body a').on('click',function(){
		alert("CHERU")
	})
</script>
{% endblock scripts %}